.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.list-item {
  text-transform: uppercase;
  margin: 20px 0;
}

.thumb-icon {
  margin: 0 10px;
}

.remove-icon {
  margin: 0 10px;
}

.edit-icon {
  margin: 0 10px;
}